@model WebApplication1.Models.Order

@{
    ViewBag.Title = "Xóa Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Xóa Đơn Hàng</h2>

<h3>Bạn có chắc chắn muốn xóa đơn hàng này?</h3>
<div>
    <h4>Thông tin Đơn Hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            Người dùng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AspNetUser.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xác nhận xóa" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa đơn hàng này?');" /> |
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
